Repository semrush/intergalactic, pull requests merged in 2025-07, with the labels that each got.

#2301 [UIK-2653][tooltip] fixed page layout shifting due to width/height ch…
  semcore/add-filter/__tests__/add-filter.browser-test.tsx
  semcore/core/CHANGELOG.md
  semcore/core/src/utils/use/useScrollBarWidth.ts
  semcore/tooltip/CHANGELOG.md
  semcore/tooltip/__tests__/tooltip.browser-test.tsx
  semcore/tooltip/__tests__/tooltip.browser-test.tsx-snapshots/Styles-Verify-Tooltip-Hint-and-DescriptionTooltip-styles-2-chromium-linux.png
  semcore/tooltip/__tests__/tooltip.browser-test.tsx-snapshots/Styles-Verify-Tooltip-Hint-and-DescriptionTooltip-styles-2-firefox-linux.png
  semcore/tooltip/__tests__/tooltip.browser-test.tsx-snapshots/Styles-Verify-Tooltip-Hint-and-DescriptionTooltip-styles-2-webkit-linux.png
  semcore/tooltip/src/Tooltip.jsx
  semcore/tooltip/src/style/tooltip.shadow.css
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, core, i18n-unplugin

#2311 [chore] fixed types in data-table stories
  stories/components/data-table/tests/examples/accordion-tests/accordion-with-inline-edit.tsx
  stories/components/data-table/tests/examples/accordion-tests/accordion-with-link.tsx
  stories/components/data-table/tests/examples/accordion-tests/accordion-with-render-cell.tsx
  stories/components/data-table/tests/examples/accordion-tests/accrodion-with-more-interactive.tsx
  stories/components/data-table/tests/examples/accordion-tests/accrodion-with-select.tsx
  stories/components/data-table/tests/examples/cells-tests/checkbox.tsx
  stories/components/data-table/tests/examples/header-tests/multi-level-header-sticky.tsx
  stories/components/data-table/tests/examples/header-tests/multi-level-header.tsx
  stories/components/data-table/tests/examples/header-tests/multi-level-sorting.tsx
  stories/components/data-table/tests/examples/header-tests/multi-level-with-interactive.tsx
  stories/components/data-table/tests/examples/scroll-tests/horizontal-scroll-fixed-group.tsx
  stories/components/data-table/tests/examples/scroll-tests/horizontal-scroll.tsx
  stories/components/data-table/tests/examples/scroll-tests/w-100.tsx
  stories/components/data-table/tests/examples/virtualization/accordion-inside-table.tsx
  stories/components/data-table/tests/examples/virtualization/horizontal-scroll-fixed-group.tsx
  stories/components/data-table/tests/examples/virtualization/horizontal-scroll.tsx
  stories/components/data-table/tests/examples/virtualization/multi-level-header.tsx
  stories/components/data-table/tests/examples/virtualization/multi-level-sorting.tsx
  stories/components/data-table/tests/examples/virtualization/multi-level-with-interactive.tsx
Labels: data-table

#2309 [UIK-3724][d3-chart] fixed hover behavior with paddingAngle and no innerRadius
  semcore/d3-chart/CHANGELOG.md
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-1-chromium-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-1-firefox-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-1-webkit-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-2-chromium-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-2-firefox-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-2-webkit-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-3-chromium-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-3-firefox-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-3-webkit-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-4-chromium-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-4-firefox-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-4-webkit-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-5-chromium-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-5-firefox-linux.png
  semcore/d3-chart/__tests__/donut-chart.browser-test.tsx-snapshots/Donut-chart-Verify-donut-with-inner-outer-duration-label-and-tooltips-5-webkit-linux.png
  semcore/d3-chart/src/Donut.jsx
Labels: d3-chart

#2302 [UIK-2652][input] preserve focus when closing with Space key
  semcore/input/CHANGELOG.md
  semcore/input/__tests__/input.browser-test.tsx
  semcore/input/__tests__/input.browser-test.tsx-snapshots/Styles-and-states-Verify-input-states-and-styles-10-chromium-linux.png
  semcore/input/__tests__/input.browser-test.tsx-snapshots/Styles-and-states-Verify-input-states-and-styles-11-chromium-linux.png
  semcore/input/__tests__/input.browser-test.tsx-snapshots/Styles-and-states-Verify-input-states-and-styles-3-chromium-linux.png
  semcore/input/__tests__/input.browser-test.tsx-snapshots/Styles-and-states-Verify-input-with-neighbor-location-1-chromium-linux.png
  semcore/input/src/Input.jsx
Labels: add-filter, color-picker, date-picker, feedback-form, inline-input, input, input-mask, input-number, input-tags, pagination, select, time-picker, feature-highlight

#2318 Small fixes after Feature highlight release
  semcore/core/CHANGELOG.md
  semcore/core/src/theme/dark.json
  semcore/core/src/theme/themes/highlights-dark.css
  semcore/core/src/theme/themes/highlights-dark.ts
  stories/patterns/ux-patterns/feature-highlight/docs/examples/select.tsx
  website/docs/.vitepress/theme/Page404.vue
  website/docs/patterns/feature-highlight/feature-highlight-changelog.md
  website/docs/patterns/feature-highlight/feature-highlight.md
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, core, i18n-unplugin, feature-highlight

#2329 [UIK-3949][errors] content, layout and docs fixes
  semcore/errors/CHANGELOG.md
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-projectnotfound.png
  semcore/errors/src/ProjectNotFound/index.jsx
  semcore/errors/src/ProjectNotFound/translations/en.json
  semcore/errors/src/index.d.ts
  semcore/errors/src/style/errors.shadow.css
  stories/components/widget-empty/docs/examples/error_example.tsx
  website/docs/patterns/global-errors/global-errors.md
  website/docs/patterns/global-errors/static/ge-margins.png
  website/docs/patterns/global-errors/static/ge_project-not-found.png
  website/docs/patterns/global-errors/static/ge_under-maintenance-2.png
  website/docs/patterns/global-errors/static/mobile.png
Labels: errors, widget-empty

#2339 [UIK-3969] added Gift icon
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/icon/Gift/l.svg
  semcore/icon/svg/icon/Gift/m.svg
  stories/components/icon/tests/examples/icons_in_other_elements_example.tsx
  website/docs/style/icon/icons-list.js
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2317 [UIK-3603][slider] fixed support for Home and Key key navigation
  semcore/slider/CHANGELOG.md
  semcore/slider/__tests__/slider.browser-test.tsx
  semcore/slider/src/Slider.jsx
Labels: slider

#2316 [UIK-3699][d3-chart] show correct data in tooltip on hover for CompactHorizontalBar
  semcore/d3-chart/CHANGELOG.md
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-advanced-usage-of-bar-horizontal-compact-1-chromium-linux.png
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-advanced-usage-of-bar-horizontal-compact-1-firefox-linux.png
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-advanced-usage-of-bar-horizontal-compact-1-webkit-linux.png
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-basic-usage-of-bar-horizontal-compact-1-chromium-linux.png
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-basic-usage-of-bar-horizontal-compact-1-firefox-linux.png
  semcore/d3-chart/__tests__/bar-horizontal-compact.browser-test.tsx-snapshots/Bar-horizontal-compact-Verify-basic-usage-of-bar-horizontal-compact-1-webkit-linux.png
  semcore/d3-chart/src/CompactHorizontalBar.jsx
Labels: d3-chart

#2344 [UIK-3961][icon] add 4 text format icons and update Text icon
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/icon/MathPlus/m.svg
  semcore/icon/svg/icon/Text/m.svg
  semcore/icon/svg/icon/TextBold/l.svg
  semcore/icon/svg/icon/TextBold/m.svg
  semcore/icon/svg/icon/TextItalic/l.svg
  semcore/icon/svg/icon/TextItalic/m.svg
  semcore/icon/svg/icon/TextQuotes/l.svg
  semcore/icon/svg/icon/TextQuotes/m.svg
  semcore/icon/svg/icon/TextUnderline/l.svg
  semcore/icon/svg/icon/TextUnderline/m.svg
  website/docs/style/icon/icons-list.js
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2345 UIK-3940/card tests
  semcore/card/__tests__/__image_snapshots__/card-basic-example-visual-regression.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly-header-and-body.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly-innerhint.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly-tittle-description-without-hint.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly-tittle-description.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly-tittle-with-hint.png
  semcore/card/__tests__/__image_snapshots__/card-renders-correctly.png
  semcore/card/__tests__/__image_snapshots__/card-renders-innerhint-in-a-predictable-layout.png
  semcore/card/__tests__/card.browser-test.tsx
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-1-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-1-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-1-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-2-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-2-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-2-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-3-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-3-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-3-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-4-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-4-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-Base-example-margins-and-paddings-4-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-1-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-1-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-1-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-2-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-2-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-2-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-3-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-3-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-3-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-4-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-4-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-4-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-5-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-5-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-5-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-6-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-6-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-6-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-7-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-7-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-7-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-8-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-8-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-8-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-9-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-9-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-different-card-componens-styles-9-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-ellipsis-width-768-height-800-1-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-ellipsis-width-768-height-800-1-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-card-with-ellipsis-width-768-height-800-1-webkit-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-complex-card-styles-1-chromium-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-complex-card-styles-1-firefox-linux.png
  semcore/card/__tests__/card.browser-test.tsx-snapshots/Visual-tests-Verify-complex-card-styles-1-webkit-linux.png
  semcore/card/__tests__/index.test.tsx
  stories/components/card/tests/Card.stories.tsx
  stories/components/card/tests/examples/different-cards.tsx
Labels: card, drag-and-drop

#2352 [tooltip] fixed incorrect sybmols link if Popper and Tooltip has different core package
  semcore/core/CHANGELOG.md
  semcore/core/src/core-types/Component.ts
  semcore/core/src/coreFactory.tsx
  semcore/d3-chart/src/Tooltip.jsx
  semcore/tooltip/CHANGELOG.md
  semcore/tooltip/src/Tooltip.jsx
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, core, i18n-unplugin, feature-highlight

#2321 UIK-3784/product-head update tests
  semcore/product-head/__tests__/__image_snapshots__/info-renders-correctly-when-item-alone.png
  semcore/product-head/__tests__/__image_snapshots__/info-renders-correctly-when-items-two.png
  semcore/product-head/__tests__/__image_snapshots__/producthead-render-correctly-for-tablet.png
  semcore/product-head/__tests__/__image_snapshots__/producthead-render-correctly.png
  semcore/product-head/__tests__/__image_snapshots__/title-renders-correctly-if-not-enough-space.png
  semcore/product-head/__tests__/__image_snapshots__/title-renders-correctly-title-tool.png
  semcore/product-head/__tests__/index.test.jsx
  semcore/product-head/__tests__/product-head.browser-test.tsx
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1280px-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1280px-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1280px-1-webkit-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1920px-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1920px-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-1920px-1-webkit-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-320px-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-320px-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-320px-1-webkit-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-768px-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-768px-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-base-example-looks-good-on-screen-width-768px-1-webkit-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-looks-good-when-long-long-title-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-looks-good-when-long-long-title-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-looks-good-when-long-long-title-1-webkit-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-renders-when-single-items-used-1-chromium-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-renders-when-single-items-used-1-firefox-linux.png
  semcore/product-head/__tests__/product-head.browser-test.tsx-snapshots/Visual-Verify-renders-when-single-items-used-1-webkit-linux.png
  stories/components/product-head/advanced/product-head.stories.tsx
  stories/components/product-head/docs/product-head.stories.tsx
  stories/components/product-head/tests/examples/test_example.tsx
  stories/components/product-head/tests/product-head.stories.tsx
Labels: product-head

#2358 [UIK-3948][icon] add AISEOToolkit icon
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/platform/AISEOToolkit/AISEOToolkit.svg
  stories/components/icon/tests/examples/icons_platform.tsx
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2347 [UIK-3988][data-table] added ability to set columns into one grouped column
  pnpm-lock.yaml
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Group.tsx
  semcore/ui/package.json
  stories/components/data-table/advanced/data-table.advanced.stories.tsx
  stories/components/data-table/advanced/examples/fake-multi-level-header.tsx
Labels: data-table

#2343 [UIK-3980][data-table] fixed usage of changeSortSize with multiple columns
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Column.tsx
  stories/components/data-table/docs/examples/sorting-changing-size.tsx
Labels: data-table

#2304 [UIK-3879][ellipsis] fixed trim=middle behavior
  semcore/ellipsis/src/Ellipsis.tsx
Labels: ellipsis

#2346 [UIK-3983][data-table] added rawData to cellRenderProps
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/index.test.tsx
  semcore/data-table/src/components/Body/Body.tsx
  semcore/data-table/src/components/Body/Body.types.ts
  semcore/data-table/src/components/DataTable/DataTable.tsx
  stories/components/data-table/advanced/data-table.advanced.stories.tsx
  stories/components/data-table/advanced/examples/render_cell_raw_data.tsx
Labels: data-table

#2366 UIK-3282/focus loss in safari pagination
  semcore/pagination/CHANGELOG.md
  semcore/pagination/__tests__/pagination.browser-test.tsx
  semcore/pagination/src/Pagination.jsx
Labels: pagination
