Repository semrush/intergalactic, pull requests merged in 2025-08, with the labels that each got.

#2367 [UIK-3966][data-table] added text align property
  semcore/base-components/CHANGELOG.md
  semcore/base-components/src/components/flex-box/Box/useBox.tsx
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alignment-props-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alignment-props-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alignment-props-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-2-firefox-linux.png
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx-snapshots/Columns-Verify-alingnment-props-2-webkit-linux.png
  semcore/data-table/src/components/Body/Cell.tsx
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Column.types.ts
  stories/components/data-table/docs/examples/column-alignment.tsx
  stories/components/data-table/tests/examples/rows-columns-tests/column-alignment.tsx
  website/docs/table-group/data-table/data-table-code.md
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, feature-highlight

#2371 [feature-popover] changed types descriptions
  pnpm-lock.yaml
  semcore/feature-popover/package.json
  semcore/feature-popover/src/index.d.ts
  website/docs/components/feature-popover/feature-popover-api.md
Labels: feature-popover

#2376 [UIK-4020][data-table] fixed types in cellRenderProps
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/Body/Body.types.ts
  stories/components/data-table/docs/examples/accordion-inside-table.tsx
Labels: data-table

#2393 [UIK-3938][data-table] fixed sticky header with width prop
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Column.tsx
  semcore/data-table/src/components/Head/Column.types.ts
  semcore/data-table/src/components/Head/Head.tsx
  semcore/data-table/src/components/Head/Head.types.ts
  stories/components/data-table/advanced/data-table.advanced.stories.tsx
  stories/components/data-table/advanced/examples/big_table_with_sticky_header.tsx
Labels: data-table

#2402 [UIK-4071][data-table] add margin-left to AccordionToggle
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-custom-component-and-fixed-column-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-custom-component-and-fixed-column-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-custom-component-and-fixed-column-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-custom-component-and-fixed-column-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-custom-component-and-fixed-column-2-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-table-in-table-and-fixed-column-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-table-in-table-and-fixed-column-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-table-in-table-and-fixed-column-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-table-in-table-and-fixed-column-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-accordion-with-table-in-table-and-fixed-column-2-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-interactions-with-accordion-and-chart-inside-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-interactions-with-accordion-and-chart-inside-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-interactions-with-accordion-and-chart-inside-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-2-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-table-component-inside-table-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-table-component-inside-table-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-table-component-inside-table-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-table-in-table-with-sorting-keyboard-interaction-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-table-in-table-with-sorting-keyboard-interaction-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-table-in-table-with-sorting-keyboard-interaction-1-webkit-linux.png
  semcore/data-table/src/components/Body/style.shadow.css
  website/docs/table-group/table-controls/static/accordion-2.png
  website/docs/table-group/table-controls/static/accordion-3.png
  website/docs/table-group/table-controls/static/accordion.png
  website/docs/table-group/table-controls/table-controls.md
Labels: data-table

#2409 [UIK-4086] added new LinkExternalAlt icon
  semcore/checkbox/CHANGELOG.md
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/icon/LinkExternalAlt/l.svg
  semcore/icon/svg/icon/LinkExternalAlt/m.svg
  stories/components/icon/tests/examples/icons_in_other_elements_example.tsx
  website/docs/style/icon/icons-list.js
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2410 [UIK-4079][data-table] prevent double call of onSortChange
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/src/components/Head/Column.tsx
  stories/components/data-table/tests/examples/header-tests/sorting-default-undefined.tsx
Labels: data-table

#2408 [UIK-3928][bulk-textarea] added controlled mode for errors
  semcore/bulk-textarea/CHANGELOG.md
  semcore/bulk-textarea/__tests__/bulk-textarea.browser-test.tsx
  semcore/bulk-textarea/__tests__/index.test.tsx
  semcore/bulk-textarea/src/BulkTextarea.tsx
  semcore/bulk-textarea/src/BulkTextarea.types.ts
  semcore/bulk-textarea/src/components/InputField/InputField.tsx
  semcore/bulk-textarea/src/components/InputField/InputField.types.ts
  semcore/bulk-textarea/src/components/InputField/inputField.shadow.css
  stories/components/bulk-textarea/advanced/bulk-textarea.stories.tsx
  stories/components/bulk-textarea/docs/bulk-textarea.stories.tsx
  stories/components/bulk-textarea/tests/bulk-textarea.stories.tsx
  stories/components/bulk-textarea/tests/examples/controlled-and-not-controlled-errors.tsx
  stories/components/bulk-textarea/tests/examples/controlled-errors.tsx
  website/docs/style/design-tokens/design-tokens.json
Labels: bulk-textarea

#2416 [UIK-4121][icon] add Note icon
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/icon/Note/l.svg
  semcore/icon/svg/icon/Note/m.svg
  stories/components/icon/tests/examples/icons_in_other_elements_example.tsx
  website/docs/style/icon/icons-list.js
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2412 [UIK-3892][core] input-tags in dd menu trigger
  semcore/core/CHANGELOG.md
  semcore/core/src/utils/use/useFocusLock.ts
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx
  stories/components/dropdown-menu/advanced/dropdown-menu.stories.tsx
  stories/components/dropdown-menu/advanced/examples/input_tags_trigger.tsx
  stories/components/dropdown-menu/tests/Dropdown-menu.stories.tsx
  stories/components/dropdown-menu/tests/examples/with-focusable-in-trigger.tsx
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, core, i18n-unplugin, feature-highlight

#2423 [UIK-4135][data-table] added expected behaviour for sort icon when the table is secondary
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-2-firefox-linux.png
  semcore/data-table/__tests__/data-table-header.browser-test.tsx-snapshots/One-level-header---Sorting-Verify-sorting-with-changing-size-for-secondary-style-2-webkit-linux.png
  semcore/data-table/src/components/Head/style.shadow.css
  stories/components/data-table/docs/data-table.docs.stories.tsx
  stories/components/data-table/docs/examples/sorting-changing-size.tsx
Labels: data-table
