Repository semrush/intergalactic, pull requests merged in 2025-06, with the labels that each got.

#2193 [UIK-3668][i18n-unplugin] fixed how to parse locales files in esm build
  semcore/i18n-unplugin/CHANGELOG.md
  semcore/i18n-unplugin/src/index.ts
Labels: i18n-unplugin

#2183 UIK-3645/dropdown-menu-tests
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-should-have-shadow-style.png
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-should-support-hover.png
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-should-support-selected-hover-.png
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-supports-disabled-selected-props-.png
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-supports-sizes.png
  semcore/dropdown-menu/__tests__/__image_snapshots__/dropdownmenu-verify-itemhint-and-itemtitle-are-not-broken.png
  semcore/dropdown-menu/__tests__/dropdown-menu.axe-test.tsx
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu---Item-actions-Keyboard-interaction-3-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu---Item-actions-Keyboard-interaction-3-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu---Item-actions-Keyboard-interaction-3-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-Width-of-dd-menu-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-Width-of-dd-menu-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-Width-of-dd-menu-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-keyboard-interactions-dd-menu-with-notice-and-interactive-item-inside-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-keyboard-interactions-dd-menu-with-notice-and-interactive-item-inside-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-keyboard-interactions-dd-menu-with-notice-and-interactive-item-inside-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-2-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-2-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-render-white-shadows-in-list-2-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-sizes-and-styles-of-dd-menu-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Dropdown-menu-base-Verify-sizes-and-styles-of-dd-menu-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-2-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-2-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-2-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-3-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-3-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Item-actions-Verify-Keyboard-interaction-when-items-have-action-buttons-3-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Menu-item-types-and-elements-inside-Verify-hint-badges-icons-and-counter-styles-in-menus-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Menu-item-types-and-elements-inside-Verify-hint-badges-icons-and-counter-styles-in-menus-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Menu-item-types-and-elements-inside-Verify-hint-badges-icons-and-counter-styles-in-menus-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-2-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-2-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Multiselect-items-Verify-Multiselect-items-keyboard-interaction-2-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Selectable-radio-items-Verify-Selectable-radio-keyboard-interaction-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Selectable-radio-items-Verify-Selectable-radio-keyboard-interaction-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Selectable-radio-items-Verify-Selectable-radio-keyboard-interaction-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-Mouse-scroll-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-Mouse-scroll-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-keyboard-scroll-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-keyboard-scroll-1-firefox-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-keyboard-scroll-1-webkit-linux.png
  semcore/dropdown-menu/__tests__/index.test.tsx
  stories/components/dropdown-menu/tests/Dropdown-menu.stories.tsx
  stories/components/dropdown-menu/tests/examples/dd-width.tsx
  stories/components/dropdown-menu/tests/examples/dd-with-divider.tsx
  stories/components/dropdown-menu/tests/examples/list_item_types.tsx
  stories/components/dropdown-menu/tests/examples/sizes-multiselect.tsx
  stories/components/dropdown-menu/tests/examples/sizes-selectable.tsx
  stories/components/dropdown-menu/tests/examples/sizes.tsx
Labels: add-filter, dropdown-menu, select

#2210 [UIK-3810][input-tags] added axe test
  playwright.axe.config.ts
  semcore/input-tags/__tests__/input-tags.axe-test.tsx
Labels: input-tags

#2218 [UIK-3503][d3-chart] removed unsupported attributes on DOM nodes in Area chart
  semcore/d3-chart/CHANGELOG.md
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-1-chromium-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-1-firefox-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-1-webkit-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-2-chromium-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-2-firefox-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-2-webkit-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-3-chromium-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-3-firefox-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-keyboard-interactions-3-webkit-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-1-chromium-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-1-firefox-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-1-webkit-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-2-chromium-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-2-firefox-linux.png
  semcore/d3-chart/__tests__/area-chart.browser-test.tsx-snapshots/Area-chart-Verify-legend-and-pattern-fill-mouse-interactions-2-webkit-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-1-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-2-chromium-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-2-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-2-webkit-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-3-chromium-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-3-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-keyboard-interactions-3-webkit-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-1-chromium-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-1-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-2-chromium-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-2-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-2-webkit-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-3-chromium-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-3-firefox-linux.png
  semcore/d3-chart/__tests__/venn-chart.browser-test.tsx-snapshots/Venn-chart-Verify-bar-legend-and-pattern-fill-mouse-interactions-3-webkit-linux.png
  semcore/d3-chart/src/Area.jsx
  semcore/d3-chart/src/component/SvgElement.tsx
  semcore/d3-chart/src/index.js
  stories/components/d3-chart/tests/examples/area-chart/legend-and-pattern-fill.tsx
Labels: d3-chart

#2216 [dropdown-menu] deprecated highlighted property
  semcore/dropdown-menu/CHANGELOG.md
  semcore/dropdown-menu/src/index.d.ts
Labels: add-filter, dropdown-menu, select

#2206 UIK 2213/bubble chart bubble doesn't disappear
  semcore/d3-chart/CHANGELOG.md
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-1-chromium-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-1-firefox-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-1-webkit-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-2-chromium-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-2-firefox-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-2-webkit-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-3-chromium-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-3-firefox-linux.png
  semcore/d3-chart/__tests__/bubble-chart.browser-test.tsx-snapshots/Bubble-chart-Verify-legend-and-pattern-interactions-by-mouse-3-webkit-linux.png
  semcore/d3-chart/src/Bubble.jsx
  semcore/d3-chart/src/component/Chart/BubbleChart.tsx
  semcore/d3-chart/src/component/ChartLegend/BaseLegend.tsx
  semcore/d3-chart/src/style/bubble.shadow.css
  semcore/d3-chart/src/types/Bubble.d.ts
  stories/components/d3-chart/docs/examples/bubble-chart/legend-and-pattern-fill.tsx
  website/docs/data-display/bubble-chart/bubble-chart-api.md
Labels: d3-chart

#2222 [UIK-3534][errors] Fix paddings and documentation
  semcore/errors/CHANGELOG.md
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-accessdenied.png
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-maintenance.png
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-pageerror.png
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-pagenotfound.png
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-projectnotfound.png
  semcore/errors/__tests__/__image_snapshots__/error-render-correctly-with-icon.png
  semcore/errors/__tests__/__image_snapshots__/error-renders-correctly-with-icon-as-react-component.png
  semcore/errors/__tests__/__image_snapshots__/error-renders-correctly.png
  semcore/errors/src/style/errors.shadow.css
  website/docs/patterns/global-errors/global-errors.md
  website/docs/patterns/global-errors/static/ge-example.png
  website/docs/patterns/global-errors/static/ge-margins.png
  website/docs/patterns/global-errors/static/ge_margins.png
Labels: errors

#2227 [UIK-3772][add-filter] added controlled mode + story for that case
  semcore/add-filter/CHANGELOG.md
  semcore/add-filter/__tests__/add-filter.browser-test.tsx
  semcore/add-filter/src/AddFilter.tsx
  semcore/add-filter/src/AddFilter.types.ts
  stories/patterns/filters/add-filter/advanced/add-filter.stories.tsx
  stories/patterns/filters/add-filter/advanced/examples/controlled_add_filter.tsx
  stories/patterns/filters/add-filter/docs/add-filter.stories.tsx
  stories/patterns/filters/add-filter/tests/add-filter.stories.tsx
  stories/patterns/filters/add-filter/tests/examples/controlled-by-button.tsx
Labels: add-filter

#2231 [UIK-3810][product-head] added axe test
  semcore/product-head/__tests__/product-head.axe-test.tsx
  tools/continuous-delivery/bin/send-prerelease-changelog.ts
Labels: product-head

#2233 [UIK-3810][tab-line] added axe test
  semcore/tab-line/__tests__/tabline.axe-test.ts
Labels: tab-line

#2237 [UIK-3810][counter] added axe test
  semcore/counter/__tests__/counter.axe-test.ts
Labels: bulk-textarea, counter

#2238 [UIK-3810][progress-bar] added axe test
  semcore/progress-bar/__tests__/progress-bar.axe-test.ts
Labels: progress-bar

#2224 [UIK-3122][select] fixed render child with .Text or .Value in trigger
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-1-chromium-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-1-firefox-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-1-webkit-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-2-chromium-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-2-firefox-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-2-webkit-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-3-chromium-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-3-firefox-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-base-styles-and-props-3-webkit-linux.png
  semcore/base-trigger/__tests__/link-trigger.browser-test.tsx-snapshots/Link-trigger-Styles-and-a11y-checks-Verify-main-styles-and-props-3-webkit-linux.png
  semcore/select/CHANGELOG.md
  semcore/select/src/Select.jsx
  stories/components/base-trigger/docs/examples/link-trigger.tsx
  stories/components/base-trigger/tests/base-trigger.test.stories.tsx
  stories/components/base-trigger/tests/examples/link-trigger-with-select.tsx
Labels: add-filter, base-trigger, date-picker, select, time-picker

#2215 [UIK-3539] programmatic focus with keyboard interaction type
  semcore/base-components/CHANGELOG.md
  semcore/base-components/__tests__/popper.browser-test.tsx
  semcore/base-components/src/components/popper/Popper.tsx
  semcore/base-components/src/components/popper/Popper.types.ts
  semcore/button/src/component/AbstractButton/AbstractButton.tsx
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/dropdown-menu/CHANGELOG.md
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-Mouse-scroll-1-chromium-linux.png
  semcore/dropdown-menu/__tests__/dropdown-menu.browser-test.tsx-snapshots/Virtual-scroll-Verify-Mouse-scroll-1-webkit-linux.png
  semcore/dropdown-menu/src/DropdownMenu.jsx
  semcore/dropdown/CHANGELOG.md
  semcore/dropdown/src/AbstractDropdown.tsx
  semcore/select/__tests__/select.browser-test.tsx
  stories/components/dropdown-menu/tests/examples/on-visible.tsx
  stories/components/popper/tests/examples/interaction-hover.tsx
  stories/components/select/tests/Select.stories.tsx
  stories/components/select/tests/examples/programmatically_focus.tsx
  tools/continuous-delivery/src/utils/getChangedFiles.ts
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard

#2246 [UIK-3810][input-number] added axe test
  semcore/input-number/__tests__/input-number.axe-test.ts
  stories/components/input-number/docs/examples/basic_example.tsx
Labels: inline-input, input-number, pagination

#2247 [UIK-3810][time-picker] added axe test
  semcore/time-picker/__tests__/time-picker.axe-test.ts
Labels: time-picker

#2249 [UIK-3810][drag-and-drop] added axe test
  semcore/drag-and-drop/__tests__/drag-and-drop.axe-test.ts
Labels: drag-and-drop

#2241 [UIK-3810][feature-popover] added axe test
  semcore/feature-popover/__tests__/feature-popover.axe-test.ts
Labels: feature-popover

#2232 [slider] fix issue with value > max not clamping or decreasing on key
  semcore/slider/CHANGELOG.md
  semcore/slider/__tests__/slider.browser-test.tsx
  semcore/slider/src/Slider.jsx
  stories/components/slider/docs/examples/numeric_slider.tsx
Labels: feature-popover, slider

#2252 [UIK-3810][notice-global] added axe test
  semcore/notice-global/__tests__/notice-global.axe-test.ts
  stories/components/notice-global/docs/examples/basic_usage.tsx
Labels: feedback-form, notice, notice-global

#2245 [UIK-3810][carousel] added axe test
  semcore/carousel/__tests__/carousel.axe-test.ts
Labels: carousel

#2220 UI k 3809/aria sort data table
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-columns.browser-test.tsx
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/src/components/Head/Column.tsx
Labels: data-table

#2243 UI k 3278/input number accepts any characters
  semcore/input-number/CHANGELOG.md
  semcore/input-number/__tests__/index.test.tsx
  semcore/input-number/src/InputNumber.jsx
Labels: inline-input, input-number, pagination

#2256 [UIK-3829][core] added basic tokens
  semcore/core/CHANGELOG.md
  semcore/core/src/theme/dark.json
  semcore/core/src/theme/light.json
  semcore/core/src/theme/processor.ts
  semcore/core/src/theme/themes/auto.css
  semcore/core/src/theme/themes/dark.css
  semcore/core/src/theme/themes/dark.ts
  semcore/core/src/theme/themes/default.css
  semcore/core/src/theme/themes/default.ts
  semcore/core/src/theme/themes/light.css
  semcore/core/src/theme/themes/light.ts
  semcore/core/src/theme/utils.ts
  semcore/core/src/utils/use/useColorResolver.ts
  website/docs/style/design-tokens/base-tokens.json
  website/docs/style/design-tokens/design-tokens.json
Labels: base-components, accordion, add-filter, animation, badge, base-trigger, breadcrumbs, breakpoints, bulk-textarea, button, card, carousel, checkbox, color-picker, counter, d3-chart, data-table, date-picker, divider, dot, drag-and-drop, dropdown, dropdown-menu, ellipsis, errors, feature-popover, feedback-form, flags, flex-box, format-text, fullscreen-modal, grid, icon, illustration, inline-edit, inline-input, input, input-mask, input-number, input-tags, link, mini-chart, modal, neighbor-location, notice, notice-bubble, notice-global, outside-click, pagination, pills, popper, portal, product-head, progress-bar, radio, scroll-area, select, side-panel, skeleton, slider, spin, spin-container, sticky, switch, tab-line, tab-panel, tag, textarea, time-picker, tooltip, typography, widget-empty, wizard, core, i18n-unplugin

#2261 [UIK-3821][select] fixed focus after selecting options on popover
  semcore/select/CHANGELOG.md
  semcore/select/__tests__/multiselect.browser-test.tsx
  semcore/select/src/Select.jsx
Labels: add-filter, select, time-picker

#2258 [UIK-3836][dropdown-menu] fixed keyboard navigation to nested when parent was hovered by mouse
  semcore/dropdown-menu/CHANGELOG.md
  semcore/dropdown-menu/src/DropdownMenu.jsx
Labels: add-filter, dropdown-menu, select, time-picker

#2264 [UIK-3840][data-table] fixed types
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/DataTable/DataTable.types.ts
  stories/components/data-table/docs/examples/accordion-inside-table.tsx
  stories/components/data-table/docs/examples/borders.tsx
  stories/components/data-table/docs/examples/multi-level-header.tsx
  stories/components/data-table/docs/examples/virtual-scroll-in-table-different-height.tsx
  stories/components/data-table/docs/examples/virtual-scroll-in-table.tsx
Labels: data-table

#2265 [UIK-3839][data-table] fixed init sort as undefined
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Column.tsx
  stories/components/data-table/tests/data-table-header.stories.tsx
  stories/components/data-table/tests/examples/header-tests/sorting-default-undefined.tsx
  stories/components/data-table/tests/examples/header-tests/sorting-with-interactive.tsx
Labels: data-table

#2267 [UIK-3779] notice update tests
  semcore/feedback-form/__tests__/feedback-form.axe-test.ts
  semcore/notice/__tests__/__image_snapshots__/notice-label-should-support-theme.png
  semcore/notice/__tests__/__image_snapshots__/notice-should-correctly-render.png
  semcore/notice/__tests__/__image_snapshots__/notice-should-support-custom-theme.png
  semcore/notice/__tests__/__image_snapshots__/notice-should-support-theme.png
  semcore/notice/__tests__/__image_snapshots__/notice-title-and-notice-text-should-correctly-render-with-title-and-text.png
  semcore/notice/__tests__/__image_snapshots__/noticesmart-should-correctly-render-with-title-and-text-as-children.png
  semcore/notice/__tests__/__image_snapshots__/noticesmart-should-correctly-render.png
  semcore/notice/__tests__/__image_snapshots__/noticesmart-should-support-theme-props.png
  semcore/notice/__tests__/index.test.jsx
  semcore/notice/__tests__/notice.browser-test.tsx
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-Feedback-notice-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-Feedback-notice-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-Feedback-notice-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-different-pairs-of-sub-components-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-different-pairs-of-sub-components-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-different-pairs-of-sub-components-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-big-illustrations-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-big-illustrations-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-big-illustrations-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-medium-illustrations-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-medium-illustrations-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-medium-illustrations-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-small-illustrations-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-small-illustrations-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/Notice---Visual-Verify-notice-with-small-illustrations-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-1-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-1-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-1-webkit-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-2-chromium-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-2-firefox-linux.png
  semcore/notice/__tests__/notice.browser-test.tsx-snapshots/NoticeSmart---Vusial-Verify-NoticeSmart-after-mouse-and-keyboard-interactions-2-webkit-linux.png
  stories/components/notice/tests/examples/notice_with_different_states.tsx
  stories/patterns/ux-patterns/feedback-yes-no/docs/examples/feedback-yes-no-example.tsx
  stories/patterns/ux-patterns/feedback-yes-no/docs/index.stories.tsx
  website/docs/patterns/feedback-yes-no/feedback-yes-no-code.md
Labels: feedback-form, notice

#2274 [UIK-3853][data-table] fixed width calculations
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/DataTable/DataTable.tsx
  stories/components/data-table/tests/data-table-scroll.stories.tsx
  stories/components/data-table/tests/examples/scroll-tests/milti-level-horizontal-scroll.tsx
  stories/components/data-table/tests/examples/scroll-tests/w-100.tsx
Labels: data-table

#2277 [UIK-3857][stories] fixed click by interactive element in sortable column
  semcore/data-table/__tests__/data-table-header.browser-test.tsx
  semcore/data-table/src/components/Head/Column.tsx
  stories/components/data-table/tests/examples/header-tests/sorting-with-interactive.tsx
  stories/components/data-table/tests/examples/header-tests/table-with-1tf-and diff-elements.tsx
Labels: data-table

#2280 [UIK-3860][data-table] example with two fixed groups
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Group.tsx
  semcore/data-table/src/components/Head/Group.type.ts
  semcore/data-table/src/components/Head/Head.tsx
  semcore/data-table/src/components/Head/style.shadow.css
  stories/components/data-table/tests/examples/scroll-tests/milti-level-horizontal-scroll.tsx
Labels: data-table

#2283 [UIK-3841] added EU to iso2 codes
  semcore/flags/CHANGELOG.md
  semcore/flags/src/countries.json
  semcore/flags/src/index.d.ts
Labels: flags

#2278 [UIK-3859][data-table] fixed accordion width - set to 100% instead of calculations
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-2-chromium-linux.png
  semcore/data-table/__tests__/data-table-accordion.browser-test.tsx-snapshots/Accordion-in-table-Verify-keyboard-navigation-when-interactive-element-inside-cell-2-firefox-linux.png
  semcore/data-table/src/components/Body/Row.tsx
  stories/components/data-table/docs/examples/accordion-inside-table.tsx
  stories/components/data-table/tests/examples/accordion-tests/accordion-inside-table.tsx
Labels: data-table

#2279 [UIK-3858][data-table] Fixed interact with the table using the keyboard after clicking the mouse in a certain cell
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/Body/Body.tsx
  semcore/data-table/src/components/Body/Body.types.ts
  semcore/data-table/src/components/Body/Cell.tsx
  semcore/data-table/src/components/Body/Cell.types.ts
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/Head/Column.tsx
  semcore/data-table/src/components/Head/Column.types.ts
  semcore/data-table/src/components/Head/Head.tsx
  semcore/data-table/src/components/Head/Head.types.ts
Labels: data-table

#2282 [UIK-3549][fullscreen-modal] remove duplicate Close button when closa…
  semcore/fullscreen-modal/CHANGELOG.md
  semcore/fullscreen-modal/__tests__/fullscreen-modal.browser-test.tsx
  semcore/fullscreen-modal/src/FullscreenModal.jsx
  stories/components/fullscreen-modal/tests/examples/modal-props.tsx
  stories/components/fullscreen-modal/tests/fullscreen-modal.stories.tsx
Labels: fullscreen-modal

#2292 [UIK-3189][widget-empty] centered title by default
  semcore/widget-empty/CHANGELOG.md
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-controls-1-chromium-linux.png
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-controls-1-firefox-linux.png
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-controls-1-webkit-linux.png
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-link-1-chromium-linux.png
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-link-1-firefox-linux.png
  semcore/widget-empty/__tests__/widget-empty.browser-test.tsx-snapshots/Widget-empty-Verify-WE-with-text-or-description-and-link-1-webkit-linux.png
  semcore/widget-empty/src/style/widget-empty.shadow.css
Labels: data-table, widget-empty
