Repository semrush/intergalactic, pull requests merged in 2025-09, with the labels that each got.

#2444 [UIK-4140] added Monitoring icon
  semcore/icon/CHANGELOG.md
  semcore/icon/package.json
  semcore/icon/svg/icon/Monitoring/l.svg
  semcore/icon/svg/icon/Monitoring/m.svg
  stories/components/icon/tests/examples/icons_in_other_elements_example.tsx
  website/docs/style/icon/icons-list.js
Labels: accordion, add-filter, base-trigger, breadcrumbs, bulk-textarea, card, carousel, checkbox, color-picker, d3-chart, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, icon, inline-input, input-tags, link, modal, notice, notice-bubble, notice-global, pagination, radio, select, side-panel, tag, time-picker, typography, wizard, feature-highlight

#2430 [UIK-4098][feature-highlight] fixed passing attributes to DOM in PillsFH.HighlightItem.Addon
  semcore/feature-highlight/CHANGELOG.md
  semcore/feature-highlight/__tests__/index.test.tsx
  semcore/feature-highlight/src/components/pills/Pills.tsx
Labels: feature-highlight

#2431 [UIK-4141][base-trigger] fixed close hint in FilterTrigger.ClearButton
  semcore/base-trigger/CHANGELOG.md
  semcore/base-trigger/src/FilterTrigger.jsx
Labels: add-filter, base-trigger, date-picker, select, time-picker, feature-highlight

#2438 UIK-3982/prop-to-remove-last-border
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-states.browser-test.tsx
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--02d89-ant-card-use-secondary-and-compact-undefined-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--02d89-ant-card-use-secondary-and-compact-undefined-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--02d89-ant-card-use-secondary-and-compact-undefined-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--16fb0--default-use-undefined-and-compact-undefined-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--16fb0--default-use-undefined-and-compact-undefined-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--16fb0--default-use-undefined-and-compact-undefined-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--8a8ea-ant-card-use-undefined-and-compact-undefined-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--8a8ea-ant-card-use-undefined-and-compact-undefined-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--8a8ea-ant-card-use-undefined-and-compact-undefined-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--b2af8-t-defaul-use-secondary-and-compact-undefined-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--b2af8-t-defaul-use-secondary-and-compact-undefined-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles--b2af8-t-defaul-use-secondary-and-compact-undefined-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-card-use-undefined-and-compact-true-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-card-use-undefined-and-compact-true-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-card-use-undefined-and-compact-true-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-default-use-undefined-and-compact-true-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-default-use-undefined-and-compact-true-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Additional-states-Verify-table-in-card-styles-when-variant-default-use-undefined-and-compact-true-1-webkit-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Loading-states-Verify-table-in-card-1-chromium-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Loading-states-Verify-table-in-card-1-firefox-linux.png
  semcore/data-table/__tests__/data-table-states.browser-test.tsx-snapshots/Loading-states-Verify-table-in-card-1-webkit-linux.png
  semcore/data-table/src/components/Body/Body.tsx
  semcore/data-table/src/components/Body/Body.types.ts
  semcore/data-table/src/components/Body/Cell.tsx
  semcore/data-table/src/components/Body/Cell.types.ts
  semcore/data-table/src/components/Body/style.shadow.css
  semcore/data-table/src/components/DataTable/DataTable.tsx
  semcore/data-table/src/components/DataTable/DataTable.types.ts
  semcore/feature-highlight/CHANGELOG.md
  stories/components/card/docs/Card.stories.tsx
  stories/components/card/docs/examples/card_layout_for_tables.tsx
  website/docs/components/card/card-code.md
  website/docs/table-group/data-table/data-table-code.md
  website/docs/table-group/data-table/data-table.md
  website/docs/table-group/data-table/static/table-in-card.png
Labels: card, data-table, feature-highlight

#2442 UIK-4128/remove-bottom-border-for-the-cell-with-empty-data
  semcore/data-table/CHANGELOG.md
  semcore/data-table/__tests__/data-table-states.browser-test.tsx
  semcore/data-table/src/components/Body/Body.tsx
  stories/components/card/docs/Card.stories.tsx
  stories/components/card/docs/examples/card_layout_for_tables.tsx
  stories/components/data-table/docs/data-table.docs.stories.tsx
Labels: card, data-table

#2453 [UIK-4155][button] fixed size defaults in types
  semcore/button/CHANGELOG.md
  semcore/button/src/component/AbstractButton/AbstractButton.type.ts
  semcore/button/src/component/ButtonLink/ButtonLink.type.ts
Labels: accordion, add-filter, bulk-textarea, button, card, carousel, color-picker, data-table, date-picker, drag-and-drop, dropdown-menu, errors, feature-popover, feedback-form, fullscreen-modal, inline-input, modal, notice, notice-bubble, notice-global, pagination, select, side-panel, time-picker, wizard, feature-highlight

#2456 [UIK-4167][stories] fixed autosuggest example
  semcore/base-trigger/CHANGELOG.md
  semcore/data-table/CHANGELOG.md
  semcore/select/__tests__/auto-suggest.browser-test.tsx
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-1-chromium-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-1-firefox-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-1-webkit-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-2-chromium-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-2-firefox-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-keyboard-Navigation-2-webkit-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-1-chromium-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-1-firefox-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-1-webkit-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-2-chromium-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-2-firefox-linux.png
  semcore/select/__tests__/auto-suggest.browser-test.tsx-snapshots/AutoSuggest-Verify-mouse-Navigation-2-webkit-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-1-chromium-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-1-firefox-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-1-webkit-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-2-chromium-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-2-firefox-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-2-webkit-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-3-chromium-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-3-firefox-linux.png
  semcore/select/__tests__/combobox.browser-test.tsx-snapshots/Visual-Verify-mouse-Navigation-3-webkit-linux.png
  stories/patterns/ux-patterns/auto-suggest/docs/examples/combobox_example.tsx
  website/docs/components/auto-suggest/auto-suggest-a11y.md
Labels: add-filter, base-trigger, data-table, date-picker, select, time-picker, feature-highlight

#2468 [UIK-4062][data-table] fixed render grouped header
  semcore/data-table/CHANGELOG.md
  semcore/data-table/src/components/Head/Column.tsx
  semcore/data-table/src/components/Head/Group.tsx
  semcore/data-table/src/components/Head/Head.tsx
Labels: data-table

#2479 [UIK-3846][tag] fixed some props
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-70c03-size-and-disabled-false-and-interactive-true-1-chromium-linux.png
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-70c03-size-and-disabled-false-and-interactive-true-1-firefox-linux.png
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-70c03-size-and-disabled-false-and-interactive-true-1-webkit-linux.png
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-b2dc8-and-disabled-false-and-interactive-undefined-1-chromium-linux.png
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-b2dc8-and-disabled-false-and-interactive-undefined-1-firefox-linux.png
  semcore/input-tags/__tests__/input-tags.browser-test.tsx-snapshots/Visual-tests-Base-states-and-styles-Verify-Inp-b2dc8-and-disabled-false-and-interactive-undefined-1-webkit-linux.png
  semcore/tag/CHANGELOG.md
  semcore/tag/src/Tag.jsx
  stories/components/input-tags/tests/examples/tags-with-addons.tsx
Labels: input-tags, tag
